*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  color:black;
}

.componente-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  
}

.componente-logo img {
  width: 217px;
  height: 120px;
}

.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}